header {
  background-image: linear-gradient(
      to right,
      rgba(54, 0, 51, 0.7),
      rgba(11, 136, 147, 0.7)
    ),
    url("./media/bg.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
}
.intro {
  height: 100vh;
  width: 80%;
  padding-top: 70px;
  margin: 0 auto;
  color: white;
  position: relative;
}
.intro h1 {
  font-size: 48px;
}
.intro__iconos {
  position: absolute;
  top: 70px;
  right: 100px;
  font-size: 48px;
}
.intro__iconos a {
  color: white;
  transition: 0.5s all;
}
.intro__iconos a:hover {
  color: rgb(172, 172, 172);
}
.intro__icono {
  margin: 0 5px;
}
.intro__subtitulo {
  font-size: 50px;
  margin-top: 180px;
  text-transform: uppercase;
  font-weight: bold;
}
.intro__descripcion p {
  font-size: 20px;
  margin-top: 12px;
  color: whitesmoke;
}
.intro button {
  border: none;
  background-color: transparent;
  color: none;
  padding-left: 0;
}
.intro button span {
  padding: 10px;
  color: white;
  font-size: 35px;
  padding-left: 0;
  transition: 0.4s all;
  border-bottom: 1px solid rgba(71, 71, 71, 0.7);
  transition: 0.5s all;
}
.intro button:hover span {
  color: rgba(12, 169, 184, 0.842);
  border-bottom: 1px solid rgba(11, 136, 147, 0.7);
}
.data {
  width: 60%;
  margin: 40px auto 80px auto;
}
.data__titulo {
  width: 100%;
  text-align: center;
}
.data__titulo h1 {
  font-size: 48px;
}
.data__contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.data__type {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 30px;
}

.data__desc {
  text-align: left;
  font-size: 25px;
}
.logos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 10px;
  text-align: center;
  font-size: 65px;
}
.logos img {
  height: 90px;
  width: 100%;
}
.enlaceResumen {
  color: black;
  margin-top: 20px;
  font-size: 25px;
  transition: 1s all;
}
.data__cv {
  display: flex;
  align-items: center;
}
.enlaceResumen:hover {
  font-size: 30px;
}
.icon__cointainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon__cointainer p {
  font-size: 15px;
  margin: 4px auto 10px auto;
}
.contact {
  background-color: #0f1010;
  padding: 70px 0 20px 0;
}
.contact__container {
  width: 80%;
  margin: auto;
}
.contact__container h1 {
  color: white;
  font-size: 45px;
  font-weight: 600;
}
.contact__container h3 {
  color: rgb(221, 219, 219);
  font-size: 25px;
  font-weight: 500;
  margin-top: 10px;
}
.contact__end {
  color: white;
  margin-top: 140px;
  text-align: right;
}

.contact__end a {
  text-decoration: none;
  color: rgb(189, 189, 189);
}

@media screen and (max-width: 1000px) {
  .intro {
    width: 95%;
  }
  .data {
    width: 85%;
  }
  .data__contenedor {
    grid-template-columns: 1fr;
  }
  .contact__container {
    text-align: center;
  }
  .enlaceResumen {
    margin: auto;
  }
  .intro__iconos {
    right: 30px;
  }
}
@media screen and (max-width: 550px) {
  .intro h1 {
    margin: 50px 0;
    text-align: center;
  }
  .intro__iconos {
    position: relative;
    text-align: center;
    right: 0;
    top: 0;
    margin: 40px 0;
  }
}
